import React, {Component, PropTypes} from 'react';

const <%= helpers.capitalize(name) %> = () => (
    <div>
      <%= helpers.capitalize(name) %>
    </div>
)

<%= helpers.capitalize(name) %>.propTypes = {

}


export default <%= helpers.capitalize(name) %>;